.vscode/settings.json
Programa/output/precio_galon.txt
Programa/output/registro_Vacas.txt
Programa/output/registro_Clientes.txt
Programa/output/registro_Ventas.txt
Programa/output/registro_Pendientes.txt
Programa/output/registro_costos_Fijos.txt
Programa/output/registro_costos_Variables.txt